@import "_global_styles.scss";
/*----------------------------------*/
/* BANNER AD CONFIGURABLE VARIABLES
/*----------------------------------*/
$ad-width: 160px;
$ad-height: 600px;

#wrapper {

    width: $ad-width;
    height: $ad-height;

    #logo {
        bottom: 5%;
        right: 20%;
        width: 60%;
    }

    .frame {

        width: #{$ad-width - 2};
        height: #{$ad-height - 2};

        .presentation {
            top: 12%;
            left: 7%;
            width: 86%;
            height: 23%;
        }

        .title {
            top: 12%;
            left: 7%;
            width: 86%;
            height: 23%;
        }

        .cta {
            bottom: 26%;
            left: 10%;
            width: 80%;
            height: 9.8%;
        }
    }
}
