@import "_global_styles.scss";
/*----------------------------------*/
/* BANNER AD CONFIGURABLE VARIABLES
/*----------------------------------*/
$ad-width: 320px;
$ad-height: 50px;

#wrapper {

    width: $ad-width;
    height: $ad-height;

    #logo {
        bottom: 15%;
        right: 3%;
        width: 11%;
    }

    .frame {

        width: #{$ad-width - 2};
        height: #{$ad-height - 2};

        .presentation {
            top: 20%;
            left: 3%;
            width: 50%;
            height: 60%;
        }

        .title {
            top: 20%;
            left: 3%;
            width: 50%;
            height: 60%;
        }

        .cta {
            bottom: 25%;
            left: 61%;
            width: 17%;
            height: 50%;
        }
    }
}
