@import "_global_styles.scss";
/*----------------------------------*/
/* BANNER AD CONFIGURABLE VARIABLES
/*----------------------------------*/
$ad-width: 336px;
$ad-height: 280px;
$scaling: 1.1em;

#wrapper {

    width: $ad-width;
    height: $ad-height;

    #logo {
        bottom: 6%;
        right: 5%;
        width: 20%;
    }

    .frame {

        width: #{$ad-width - 2};
        height: #{$ad-height - 2};

        .presentation {
            top: 10%;
            left: 7%;
            width: 86%;
            height: 23%;
        }

        .title {
            top: 10%;
            left: 7%;
            width: 86%;
            height: 23%;
        }

        .cta {
            bottom: 12%;
            left: 7%;
            width: 50%;
            height: 12%;
        }
    }
}
