@import "_global_styles.scss";
/*----------------------------------*/
/* BANNER AD CONFIGURABLE VARIABLES
/*----------------------------------*/
$ad-width: 728px;
$ad-height: 90px;

#wrapper {

    width: $ad-width;
    height: $ad-height;

    #logo {
        bottom: 13%;
        right: 3%;
        width: 9%;
    }

    .frame {

        width: #{$ad-width - 2};
        height: #{$ad-height - 2};

        .presentation {
            top: 15%;
            left: 3%;
            width: 40%;
            height: 70%;
        }

        .title {
            top: 15%;
            left: 3%;
            width: 40%;
            height: 70%;
        }

        .cta {
            bottom: 29%;
            left: 57%;
            width: 24%;
            height: 42%;
        }
    }
}
