@import "_global_styles.scss";
/*----------------------------------*/
/* BANNER AD CONFIGURABLE VARIABLES
/*----------------------------------*/
$ad-width: 970px;
$ad-height: 250px;

#wrapper {

    width: $ad-width;
    height: $ad-height;

    #logo {
        bottom: 21%;
        right: 5%;
        width: 14%;
    }

    .frame {

        width: #{$ad-width - 2};
        height: #{$ad-height - 2};

        .presentation {
            top: 10%;
            left: 3%;
            width: 40%;
            height: 80%;
        }

        .title {
            top: 10%;
            left: 3%;
            width: 40%;
            height: 80%;
        }

        .cta {
            bottom: 30%;
            left: 54%;
            width: 22%;
            height: 38%;
        }
    }
}
