//------------------------------------//
//   IMPORTS
//------------------------------------//
@import "compass/css3";


//------------------------------------//
//   FONTS
//------------------------------------//
$font-family-name: 'minitype_v2_regularbold';
@font-face {
    font-family: $font-family-name;
    src: url('../fonts/mibd-webfont/mibd-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/mibd-webfont/mibd-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mibd-webfont/mibd-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         //url('../fonts/mibd-webfont/mibd-webfont.woff2') format('woff2'), /* Really Modern Browsers */
         url('../fonts/mibd-webfont/mibd-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mibd-webfont/mibd-webfont.svg#' + $font-family-name) format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}


//------------------------------------//
//   VARIABLES
//------------------------------------//
$text-color: black;


//------------------------------------//
//   STYLES
//------------------------------------//
* {
    display: block;
    overflow: visible;
    margin: 0;
    padding:0;
    cursor: pointer;
    @include box-sizing(border-box);
    font-family: minitype_v2_regularbold;
    line-height: 1em;
}

body {
    background-color: #000;
    opacity: 0; // Hide untill all fonts have loaded
}

#wrapper {
    border: 1px solid #808080;
    background-color: black;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;

    #logo {
        position: absolute;
        z-index: 9999;
    }


    .frame {
        position: absolute;
        overflow: hidden;
        background-color: white;

        .presentation {
            position: absolute;
            color: $text-color;
        }

        .title {
            position: absolute;
            color: $text-color;
        }

        .cta {
            position: absolute;
            background-color: black;
            color: white;
            letter-spacing: -0.025em;
            padding: 0.6em 0.7em 0.4em 0.4em;
            text-align: center;
            text-transform: uppercase;
            overflow: hidden;
            z-index: 9;
        }
    }
}
